<nav class="navbar shadow navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      @if(isDarkTheme) {
        <img src="logo/full_logo_white.png" alt="logo" width="90" height="24">
      } @else {
        <img src="logo/full_logo_black.png" alt="logo" width="90" height="24">
      }
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" routerLink="/">
            Início
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" routerLink="/" fragment="prices">
            Planos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" routerLink="/" fragment="faq">
            Dúvidas
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" routerLink="/send-message">
            Entre em Contato
          </a>
        </li>
      </ul>
      <button ngClass='isDarkTheme ? "btn-dark" : "btn-light"' (click)="onThemeChange()" class="mx-0 mx-lg-3 mb-3 mb-lg-0 btn">
        <!-- Mudar tema -->
        @if(isDarkTheme) {
          <i class="bi bi-brightness-high-fill"></i>
        } @else {
          <i class="bi bi-moon-stars"></i>
        }
      </button>
      <div class="d-flex gap-3" role="search">
        @if (user === null) {
          <a class="btn btn-outline-primary" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" routerLink="/register">
            Criar Conta
          </a>
          <button routerLink="/login" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" class="btn btn-primary">
            Entrar
            <i class="bi bi-box-arrow-in-right"></i>
          </button>
        } @else {
          <div class="d-flex justify-content-end w-100">
            <app-user-account-button [user]="user"></app-user-account-button>
          </div>
        }
      </div>
    </div>
  </div>
</nav>
<div>
  <router-outlet></router-outlet>
</div>
