@if(isLoading) {
<app-spinner></app-spinner>
} @else {
<div class="mt-0">
  <app-info-button [paragraphs]="['Escolha uma imagem do seu estabelecimento para aparecer no início do menu.']">
  </app-info-button>

  <div class="card">
    <h4 class="card-header">
      Banner
    </h4>
    <div class="card-body">
      <div class="row">
        <div class="col-auto">
          <label for="formFileLg" class="form-label">Escolher imagem</label>
          <input (change)="onImageChange($event)" class="form-control form-control-lg" id="formFileLg" type="file">
        </div>
      </div>
    </div>
    <div class="card-body text-end">
      <button type="button" (click)="onSubmit()" class="btn btn-primary">Salvar</button>
    </div>
  </div>
  @if (hasImage()) {
  <img [src]="getImageUrl()" class="mt-3 img-fluid"/>
  <div class="d-flex mt-4">
    <button (click)="onDelete()" class="btn btn-danger">
      Excluir imagem
      @if (isDeleteLoading) {
        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
      } @else {
        <i class="bi bi-trash"></i>
      }
    </button>
  </div>
  }
</div>
}
