@if (isLoading) {
  <app-spinner></app-spinner>
} @else {
  <form class="mt-3" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="mt-5 row justify-content-between">
      <!-- <div class="col-md-5"> -->
        @if(productResponse) {
          <h2 class="">Editar Produto</h2>
          <p>
            Criado em: {{productResponse.createdAt| date: 'd/M/yy, H:mm'}},
            atualizado em: {{productResponse.updatedAt | date: 'd/M/yy, H:mm'}}.
          </p>
        } @else {
          <h2 class="">Criar Produto</h2>
        }
      <!-- </div> -->
    </div>
    <div class="mt-3">
      <div class="mb-3">
        <label for="name" class="form-label">Nome:</label>
        <input type="text" class="form-control" id="name" formControlName="name" required>
      </div>
      <div class="d-flex  mb-3">
        <button class="btn btn-primary" (click)="addPrice()" type="button">
          Adicionar Preço
          <i class="bi bi-plus-lg"></i>
        </button>
      </div>

      <!-- ####### PRICE INPUTS ####### -->
      @for(price of priceControls; let priceIndex = $index; track priceIndex) {
        <div class="d-flex row border-bottom mb-3" [formGroup]="getFormGroupAtIndex(priceIndex)">
          <input type="hidden" id="unit-{{$index}}" formControlName="id">
          <div class="mb-3 col-5">
            <label for="unit-{{$index}}" class="form-label">Unidade:</label>
            <input class="form-control" id="unit-{{$index}}" placeholder="KG, CM, Pequeno" formControlName="unit" required>
          </div>
          <div class="mb-3 col-5">
            <label for="price-{{$index}}" class="form-label">Preço:</label>
            <input inputmode="numeric" pattern="[0-9]+" currencyMask [options]="{align: 'left', prefix: 'R$ ', thousands: '.', decimal: ','}"
              class="form-control" id="price-{{$index}}" formControlName="value" required>
          </div>
          <div class="mb-3 col position-relative">
            <button class="btn btn-danger position-absolute bottom-0" type="button" (click)="deletePrice(priceIndex)">
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </div>
      }
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="active" formControlName="active" required>
        <label for="active" class="form-label">Active</label>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Descrição:</label>
        <textarea rows="6" class="form-control" id="description" formControlName="description" required></textarea>
      </div>
      <div class="mb-3">
        <label for="categoryId" class="form-label">
        Categoria:
        </label>
        <select class="form-select" formControlName="categoryId">
          @if(isCategoryOptionLoading) {
          <option selected>Carregando...</option>
          } @else {
          @for(cat of categories; track cat.id) {
            <option value="{{cat.id}}">{{ cat.name }}</option>
          }
          }
        </select>
      </div>
    </div>

    <div class="d-flex flex-wrap-reverse pb-5 mt-2 row p-2 justify-content-end gap-4">
    <!-- [routerLink]="getBackRouterLink()" -->
      <button (click)="getBack()" type="button" class="col-md-2 btn btn-outline-primary">
        Voltar
      </button>
      <button class="col-md-2 btn btn-primary" type="submit" [ngClass]="isSavingLoading ? 'enabled' : ''">
        @if(isSavingLoading) {
            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
        } @else {
          Salvar
        }
      </button>
    </div>
  </form>
}
