@if (errorMessage === null) {
  @if (isLoading) {
    <app-spinner></app-spinner>
  } @else if(menu !== undefined){
    <div [ngStyle]="{'font-family': themeInput().font}" class="customer-container" [ngClass]="themeInput().theme === 'DARK' ? 'text-light' : 'text-dark'">
      <div [ngStyle]="{'background-color': themeInput().mainColor, 'font-family': themeInput().font}"
        class="mx-auto shadow" style="max-width: 620px;" data-bs-spy="scroll" data-bs-target="sticky-top" >

        <div class="container overflow-hidden text-center">
          <div class="row gy-3 align-items-center pt-3 justify-content-center">
            @if(menu.info.image !== null) {
              <div class="col-md-4">
                <img [src]="getImageUrlLocal(menu.info.image)" class="img-fluid w-100 rounded-3" alt="..." priority>
              </div>
            }
            <div class="col-md-8 ">
              <h2 class="h2 fw-bold">
                {{menu.info.establishmentName}}
              </h2>
              @if (menu.info.description !== null) {
                <p class="text-body-econdary">
                  {{menu.info.description}}
                </p>
              }
            </div>
          </div>
        </div>

        <!-- ################ CATEGORIES ################ -->
        <div style="z-index: 3" [ngStyle]="{'background-color': themeInput().mainColor}"
          class="d-flex justify-content-around sticky-top p-3 flex-nowrap overflow-x-scroll">
          @for(cat of menu.categories; track $index) {
            <button type="button"
              [ngClass]="themeInput().theme === 'DARK' ? 'text-light' : 'text-dark'"
              [ngStyle]="{'background-color': themeInput().secondaryColor}"
              (click)="scrollTo(cat.name)" class="btn fw-semibold mx-2 text-nowrap">
              {{ cat.name }}
            </button>
          }
        </div>

        <!-- ################ SEARCH ################ -->
        <div class="d-block p-2">
          @if (themeInput().theme === 'DARK') {
          <div data-bs-theme="dark" class="input-group input-group-lg mb-3 mt-2">
            <input (keyup)="onSearch()" [(ngModel)]="searchTerm" type="text"
              class="form-control bg-dark" placeholder="Procurar..." name="searchTerm">
            @if(isSearching) {
              <button type="button" (click)="cleanSearch()" class="btn btn-outline-danger" >
                <i class="bi bi-x-lg"></i>
              </button>
            }
          </div>
          } @else {
          <div data-bs-theme="light" class="input-group input-group-lg mb-3 mt-2">
            <input (keyup)="onSearch()" [(ngModel)]="searchTerm" type="text"
              class="form-control" placeholder="Procurar..." name="searchTerm">
            @if(isSearching) {
              <button type="button" (click)="cleanSearch()" class="btn btn-outline-danger" >
                <i class="bi bi-x-lg"></i>
              </button>
            }
          </div>
          }
        </div>

        <div  class="container">
          <hr>
        </div>

        <!-- ################ ITEMS SECTION ################ -->
        <div  data-bs-smooth-scroll="false" class="container mt-3 pb-5">
          @for(cat of menuCategories; track cat.id; let catIndex = $index) {
            <h3 id="{{cat.name}}" class="fs-6 mt-5 fw-semibold text-capitalize">{{ cat.name }}</h3>
            @for(product of cat.products; track product.id; let productIndex = $index) {
              <a
                (click)="onOpenItem(product, cat)"
                class="text-decoration-none text-reset d-flex w-100 p-1 gap-2"
              >
                <div class="">
                @if(product.image !== null) {
                  <img [src]="getImageUrlLocal(product.image)" style="height: 90px; width: 90px;" class="rounded-3" alt="..." />
                }
                </div>

                <!-- ################ ITEM INFO SECTION ################ -->
                <div class="w-100 d-block text-break" style="overflow: hidden;">

                  <!-- ################ ITEM TITLE ################ -->
                  <h5 class="fs-5" style="overflow: hidden">
                    {{product.name}}
                  </h5>

                  <!-- ################ ITEM DESCRIPTION ################ -->
                  <div
                    class="text-truncat h-75 w-100"
                    style="font-size: 15px; overflow: hidden; text-overflow: ellipsis;">
                    {{product.description}}
                  </div>

                  <!-- ################ ITEM PRICE ################ -->
                  <div class="w-100 d-flex z-1 sticky-bottom align-items-end justify-content-end">
                    {{product.prices[0].value | currency: 'BRL'}}
                  </div>
                </div>
              </a>
              <hr class="text-secondary">
            }
          }
        </div>

        <!-- ################ FOOTER ################ -->
        <div [ngStyle]="{'background-color': themeInput().secondaryColor}"
          class="mt-1 container-fluid pt-4 px-4 text-center" >

          <!-- ################ ADDRESS ################ -->
          @if(existAddress()) {
            <div class="p-6 fw-bold">
              <i class="bi bi-geo-alt-fill"></i>
              Endereço:
            </div>
            <p class="">
              {{ menu.info.addressLine }}
              {{ menu.info.city }}
              @if (menu.info.addressCode) {
              - {{ menu.info.addressCode }}
              }
            </p>
            <hr>
          }

          <!-- ################ SCHEDULE ################ -->
          @if(existSchedule()) {
            <div class="p-6 fw-bold">
              <i class="bi bi-calendar2-day"></i>
              Horários:
            </div>
            <p class="">
              @for(schedule of menu.schedules; track schedule.id) {
                <!-- <i class="bi bi-geo-alt-fill"></i> -->
                {{schedule.days}}
                <br>
                {{schedule.openHour}}
                @if (schedule.startLaunch && schedule.endLaunch) {
                  - {{schedule.startLaunch}} / {{schedule.endLaunch}} -
                } @else {
                  -
                }
                {{schedule.closeHour}}
                <br>
              }
            </p>
            <hr class="">
          }

          <!-- ################ CONTACTS ################ -->
          @if(existContacts()) {
              <div class="p-6 fw-bold mb-1">
                <!-- <i class="bi bi-person-lines-fill"></i> -->
                Contatos:
              </div>
            <div class="row gap-2">
              @if(menu.info.whatsapp !== null) {
                <a [class]="contactsCssClasses" href="whatsapp://send?phone={{menu.info.whatsapp}}" target="_blank">
                  <i class="bi bi-whatsapp"></i>
                  {{ menu.info.whatsapp }}
                </a>
              }
              @if(menu.info.phone !== null) {
                <a [class]="contactsCssClasses" href="tel://{{menu.info.phone}}" target="_blank">
                  <i class="bi bi-telephone"></i>
                  {{ menu.info.phone }}
                </a>
              }
              @if(menu.info.instagram !== null) {
                <a [class]="contactsCssClasses" href="instagram://user?username={{menu.info.instagram}}" target="_blank">
                  <i class="bi bi-instagram"></i>
                  {{ menu.info.instagram }}
                </a>
              }
              @if(menu.info.facebook !== null) {
                <a [class]="contactsCssClasses" href="fb://page/{{menu.info.facebook}}" target="_blank">
                  <i class="bi bi-facebook"></i>
                  {{ menu.info.facebook }}
                </a>
              }
              @if(menu.info.website !== null) {
                <a [class]="contactsCssClasses" href="https://{{menu.info.website}}" target="_blank">
                  <i class="bi bi-browser-chrome"></i>
                  {{ menu.info.website }}
                </a>
              }
            </div>
            <hr class="">
          }
          <div class="mt-5 pb-2">
            <a href="https://itimenu.app" target="_blank"
              [ngClass]="themeInput().theme === 'DARK' ? 'link-light' : 'link-dark'"
              class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
              Powered by:
              @if (themeInput().theme === 'DARK') {
                <img class="ms-1" ngSrc="logo/full_logo_white.png" width="95" height="30"/>
              } @else {
                <img class="ms-1" ngSrc="logo/full_logo_black.png" width="95" height="28"/>
              }
            </a>
          </div>
        </div>
      </div>
    </div>
  }
} @else {
  <div class="container text-center pt-5">
    <h2 class="mt-5">
      {{ errorMessage }}
      <i class="bi bi-emoji-frown"></i>
    </h2>
  </div>
}
