<div class="container p-3">

  <h1 class="display-1 mb-5">Termo de Uso do ItiMenu</h1>

  <p class="h3 mt-4">
    Aceitação dos Termos de Uso
  </p>
  <p>
    Bem-vindo ao ItiMenu. Ao acessar ou usar nosso site/serviço/plataforma, você
    concorda em cumprir estes Termos de Uso e todas as leis e regulamentos aplicáveis. Se você não
    concordar com qualquer parte destes termos, não poderá usar nosso Serviço.
  </p>
  <p>
    O ItiMenu concede a você uma licença limitada e intransferível para usar nosso software de cardápio digital,
    de acordo com o plano contratado. É proibido usar a plataforma para fins ilegais.
  </p>

  <p class="h3 mt-4">
    Conteudo
  </p>
  <p>
    Você entende e concorda que o ItiMenu fornece uma plataforma para a criação e exibição de
    cardápios digitais.
  <p>
    Não somos responsáveis pelo conteúdo dos cardápios digitais criados por nossos
    usuários.
  </p>
  <p>
    Você concorda em não usar nosso serviço para criar, compartilhar ou exibir cardápios digitais
    que contenham conteúdo ilegal, incluindo, mas não se limitando a armas, drogas, pornografia,
    discurso de ódio, violência ou qualquer conteúdo que viole as leis aplicáveis. Reservamos o direito
    de remover qualquer cardápio digital que considerarmos inadequado ou em violação destes termos.
  </p>

  <p class="h3 mt-4">
    Responsabilidades
  </p>
  <p>
    Você é responsável por manter a confidencialidade de sua conta e senha, bem como pela veracidade dos dados
    (preços, pratos, descrições e fotos) inseridos no seu cardápio.
  </p>
  <p>
    Não somos responsáveis por quaisquer perdas, danos, reivindicações ou responsabilidades decorrentes
    do uso ou incapacidade de usar nosso Serviço.
  </p>


  <p class="h3 mt-4">
    Pagamentos e Assinaturas
  </p>
  <p>
    Após criar uma conta na plataforma, o usuário recebe acesso por tempo limitado a uma versão de
    avaliação dos serviços ItiMenu.
  </p>
  <p>
    Após o término do período de avaliação, o usuário pode acessar a plataforma, editar o menu e suas informações,
    porem fica desabilitado o acesso de terceiros ao menu.
  </p>
  <p>
    As taxas de assinatura paga são cobradas antecipadamente, automaticamente e mensalmente ou em outro intervalo
    recorrente divulgado ao usuário antes da compra.
  </p>
  <p>
    O usuário pode cancelar a assinatura a qualquer momento.
  </p>
  <p>
    O ItiMenu não oferece reembolsos nem créditos caso o cliente cancele o serviço após a
    assinatura do plano caso o mesmo seja pago.
  </p>

  <p class="h3 mt-4">
    Atualizações
  </p>
  <p>
    Reservamo-nos o direito de modificar estes Termos ou atualizar o sistema.
    O uso contínuo após as alterações constitui aceitação dos novos termos.
  </p>

  <p class="h3 mt-4">
    Propriedade Intelectual
  </p>
  <p>
    Todos os direitos, marcas e códigos do sistema na plataforma ItiMenu são de nossa propriedade.
    O cliente possui os direitos apenas sobre os dados (fotos e textos) de seu próprio cardápio.
  </p>


  <p class="mt-5">
    Ultima atualização: 01/04/2026.
  </p>
</div>
