<div class="container py-5 px-sm-5">
  @if(user !== null) {

  <div class="row justify-content-between ">
    <div class="col-sm-4">
      <div class="mb-3 d-flex align-items-center">
        <label for="exampleColorInput" class="form-label me-2">Cor principal: </label>
        <input type="color" class="form-control form-control-color" id="exampleColorInput"
          title="Cor principal" [(ngModel)]="foregroundColor">
      </div>
      <div class="mb-3 d-flex align-items-center">
        <label for="exampleColorInput" class="form-label me-2">Cor de fundo: </label>
        <input type="color" class="form-control form-control-color" id="exampleColorInput"
          title="Cor de fundo" [(ngModel)]="backgroundColor">
      </div>
      <div class="mb-3 d-flex align-items-center">
        <p class="me-2">Margem:</p>
        <div class="btn-group" role="group">
          <input type="radio" class="btn-check" name="btnradio" value="1" id="btnradio1" [(ngModel)]="qrcodeMargin">
          <label class="btn btn-outline-primary" for="btnradio1">1</label>

          <input type="radio" class="btn-check" name="btnradio"  value="2" id="btnradio2" [(ngModel)]="qrcodeMargin">
          <label class="btn btn-outline-primary" for="btnradio2">2</label>

          <input type="radio" class="btn-check" name="btnradio" value="4" id="btnradio4" [(ngModel)]="qrcodeMargin">
          <label class="btn btn-outline-primary" for="btnradio4" >4</label>

          <input type="radio" class="btn-check" name="btnradio" value="8" id="btnradio8" [(ngModel)]="qrcodeMargin">
          <label class="btn btn-outline-primary" for="btnradio8" >8</label>
        </div>
      </div>
      <button (click)="reset()" class="btn btn-primary">
        Reiniciar
      </button>
    </div>
    <div class="col-sm-8 mt-5 m-sm-0 vstack justify-content-center gap-3">
      <qrcode class="align-self-center mx-auto"
        elementType="canvas"
        #qrCodeElement
        [title]="'Test title'"
        [qrdata]="'https://itimenu.app/' + user.establishmentUrl"
        [width]="256"
        [colorDark]="foregroundColor"
        [colorLight]="backgroundColor"
        [margin]="qrcodeMargin"
        errorCorrectionLevel="H">
      </qrcode>

      <button class="btn btn-lg btn-primary mx-auto" (click)="onSaveAsImage()">
        Baixar QR Code
        <i class="bi bi-file-earmark-arrow-down"></i>
      </button>
      <!-- <button class="btn btn-lg btn-outline-primary mx-auto" (click)="onSendEmail()"> -->
      <!--   Enviar por email -->
      <!--   <i class="bi bi-envelope-paper"></i> -->
      <!-- </button> -->
    </div>
  </div>
  } @else {
  <p>Erro ao carregar página!</p>
  }
</div>
