<div class="container p-5">

  <h1 class="display-1">Política de Privacidade</h1>

  <p class="">
    Antes de utilizar a plataforma, leia atentamente os seguintes termos e condições. Ao utilizar a plataforma, você
    concorda com estes termos e condições.
  </p>

  <br>
  <p class="h3">Introdução</p>
  <p>
    Esta política de privacidade explica como os dados pessoais dos usuários do ItiMenu são coletados, processados ​​e
    utilizados. Estamos comprometidos em proteger suas informações pessoais em conformidade com as leis de proteção de
    dados.
  </p>

  <br>
  <p class="h3">
    2. Coleta de Dados
  </p>
  <p>
    Coletamos os seguintes dados:
  </p>
  <ul>
    <li>
      Informações de contato: e-mail.
    </li>
    <li>
      Informações de navegação, como páginas visitadas e data/hora da visita.
    </li>
  </ul>

  <br>
  <p class="h3">
    3. Uso de Dados
  </p>
  <p>
    Seus dados são usados para:
  </p>
  <ul>
    <li>
      Fornecer e aprimorar nosso serviço de menu com QR Code.
    </li>
    <li>
      Responder às suas dúvidas e perguntas.
    </li>
    <li>
      Enviar comunicações relacionadas ao serviço.
    </li>
  </ul>

  <br>
  <p class="h3">
    4. Compartilhamento de Dados
  </p>
  <p>
    Não vendemos nem alugamos suas informações pessoais.
  </p>
  <p>
    As informações podem ser compartilhadas com:
    Provedores de serviços para dar suporte ao nosso serviço.
  </p>

  <br>
  <p class="h3">
    5. Cookies
  </p>
  <p>
    Usamos cookies e tecnologias semelhantes, para aprimorar a experiência do usuário.
  </p>

  <br>
  <p class="h3">
    6. Segurança
  </p>
  <p>
    Tomamos medidas para proteger suas informações pessoais contra acesso não autorizado, divulgação ou alteração.
    Utilizamos criptografia e outras práticas de segurança para proteger seus dados.
  </p>

  <br>
  <p class="h3">
    7. Seus Direitos
  </p>
  <p>
    Você tem o direito de acessar, modificar ou excluir seus dados pessoais. Uma vez que você excluir sua conta,
    seus dados serão excluidos permanentemente.
  </p>

  <br>
  <p class="h3">
    8. Alterações
  </p>
  <p>
    Reservamo-nos o direito de modificar esta política. Os usuários serão informados sobre alterações significativas por
    meio do nosso site ou por e-mail.
  </p>

  <br>
  <p class="h3">
    9. Contato
  </p>
  <p>
    Para quaisquer dúvidas sobre esta política ou seus dados, entre em contato conosco pelo endereço
    itimenu@outlook.com. Você também pode entrar em contato com nosso responsável pela proteção de dados para
    consultas específicas.
  </p>

  <br>
  <br>
  <p class="">
    Ultima atualização: 01/04/2026.
  </p>
</div>
