<form class="container" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="d-flex justify-content-center my-5">
        @if(isDark()) {
          <img src="logo/full_logo_white.png" class=" " width="185" height="50" alt="logo"/>
        } @else {
          <img src="logo/full_logo_black.png" class=" " width="185" height="50" alt="logo"/>
        }
      </div>
      <div class="col-xl-8 offset-xl-2 ">
        <ul class="">
          <li class="">Não é necessário cartão de crédito.</li>
          <li class="">Cancele a qualquer momento.</li>
        </ul>
      </div>
      <div [ngClass]="themeSignal() === 'dark' ? 'bg-dark-subtle' : 'bg-light'" class="col-xl-8 offset-xl-2 mt-2 p-3 border rounded shadow">
        <h3 class="mb-3 text-center fs-3">Cadastro</h3>
        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="name@example.com" formControlName="email"
            required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Senha:</label>
          <input type="password" class="form-control" id="password" formControlName="password" required>
        </div>
        <div class="mb-3">
          <label for="establishmentName" class="form-label">Nome do estabelecimento:</label>
          <input type="text" class="form-control" id="establishmentName" placeholder="Burguer Dubom"
            formControlName="establishmentName" required>
          <div class="form-text">Você pode alterar depois.</div>
        </div>
        @if(errorMessage) {
        <div #formAlert class="alert alert-dismissible alert-danger mt-1" role="alert">
          {{ errorMessage }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        }
        <div class="form-text">
          Ao prosseguir você aceita os <a routerLink="/terms" target="_blank">Termos de Serviços</a> e a <a target="_blank" routerLink="/privacy">Politica de Privacidade</a>.
        </div>
        <div class="d-flex justify-content-end mt-4">
          <button class="btn btn-primary" [ngClass]="isLoading ? 'disabled' : ''" type="submit">
            Testar grátis
            @if (isLoading) {
              <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
            }
          </button>
        </div>
      </div>
    </div>
</form>
