@if(user) {
  <nav class="navbar navbar-expand-lg bg-dark-subtle">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" [routerLink]="['']"> -->
      <!--   {{ user!.establishmentName }} -->
      <!-- </a> -->
      <a class="navbar-toggler" type="button" data-bs-toggle="offcanvas" href="#offcanvasExample" aria-controls="offcanvasExample">
        <span class="navbar-toggler-icon"></span>
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
              <i class="bi bi-list"></i>
              Menu
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" role="button" (click)="goToMenu()">
              <i class="bi bi-box-arrow-up-right"></i>
              Ver menu
            </a>
          </li>
        </ul>
      </div>
      <div class="d-flex">
        <a class="navbar-brand" [routerLink]="['']">
          {{ user!.establishmentName }}
        </a>
      </div>
    </div>
  </nav>

  <div class="offcanvas offcanvas-fixed offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">{{ user!.establishmentName }}</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body d-flex align-items-start flex-column">
      <div class="w-100">
        <div class="list-group list-group-flush mb-4 border-bottom w-100">
          <h5 class="fs-6">Conta</h5>
          <a [routerLink]="['update-password']"
            data-bs-dismiss="offcanvas"
            routerLinkActive="active"
            class="border-0 rounded list-group-item p-2 list-group-item-action">
            Atualizar senha
          </a>
        </div>
        <div class="list-group list-group-flush mb-4 border-bottom w-100">
          <!-- <h5 class="fs-6">Configurações</h5> -->
          <h5 class="fs-6">Estabelecimento</h5>
          <a [routerLink]="['establishment', 'address']"
            data-bs-dismiss="offcanvas"
            routerLinkActive="active"
            class="border-0 rounded list-group-item p-2 list-group-item-action">
            Endereço
          </a>
          <a [routerLink]="['establishment', 'schedule']"
            data-bs-dismiss="offcanvas"
            routerLinkActive="active"
            class="border-0 rounded list-group-item p-2 list-group-item-action">
            Horários
          </a>
          <a [routerLink]="['establishment', 'contact']"
            data-bs-dismiss="offcanvas"
            routerLinkActive="active"
            class="border-0 rounded list-group-item p-2 list-group-item-action">
            Contatos
          </a>
        </div>
        <div class="list-group list-group-flush mb-4 border-bottom">
          <h5 class="fs-6">Cadastro</h5>
          <a [routerLink]="['products']"
            data-bs-dismiss="offcanvas"
            routerLinkActive="active"
            class="border-0 rounded list-group-item p-2 list-group-item-action">
            Produtos
          </a>
          <a [routerLink]="['categories']"
            data-bs-dismiss="offcanvas"
            routerLinkActive="active"
            class="border-0 rounded list-group-item p-2 list-group-item-action">
            Categorias
          </a>
        </div>
        <div class="row py-2 mb-3">
          <a class="btn w-75 mx-auto btn-lg- btn-primary" routerLinkActive="active" role="button" (click)="goToMenu()">
            Ver menu
            <i class="bi bi-box-arrow-up-right"></i>
          </a>
          <button (click)="onThemeChange()" class="w-75 mx-auto mt-3 btn btn-outline-primary">
            Mudar tema
            @if(isDarkTheme) {
              <i class="bi bi-moon-stars"></i>
            } @else {
              <i class="bi bi-brightness-high-fill"></i>
            }
          </button>
        </div>
      </div>
      <div class="w-100 list-group list-group-flush mt-5 mt-auto">
        <a (click)="logout()"
          data-bs-dismiss="offcanvas"
          class="border-0 rounded list-group-item p-2 list-group-item-action border-top">
          Sair
          <i class="bi bi-box-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
}
