<form class="card" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <h4 class="card-header">
    Wi-Fi
  </h4>

  <div class="card-body">
    <div class="container mt-5">
      <dl class="row">
        <dt class="col-sm-3 mb-2">Nome: </dt>
        <dd class="col-sm-9 mb-3">
          <div class="mb-3">
            <input class="form-control" formControlName="name">
          </div>
        </dd>

        <dt class="col-sm-3 mb-2">Senha: </dt>
        <dd class="col-sm-9 mb-3">
          <div class="mb-3">
            <input class="form-control" formControlName="password" />
          </div>
        </dd>
      </dl>
    </div>
    <div class="mt-5 d-flex justify-content-end">
      <button type="submit"
        class="btn btn-primary">
        Salvar
        @if (isLoading) {
          <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
        }
      </button>
    </div>
  </div>
</form>
