@if(user) {
  <nav class="navbar navbar-expand-lg bg-dark-subtle">
    <div class="container-fluid">
      <a class="navbar-toggler" type="button" data-bs-toggle="offcanvas" href="#offcanvasExample" aria-controls="offcanvasExample">
        <span class="navbar-toggler-icon"></span>
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
              <i class="bi bi-list"></i>
              Menu
            </a>
          </li>
        </ul>
      </div>
      <div class="d-flex gap-3">
        <button ngClass='isDarkTheme ? "btn-dark" : "btn-light"' (click)="onThemeChange()"
          class="btn">
          <!-- Mudar tema -->
          @if(isDarkTheme) {
            <i class="bi bi-brightness-high-fill"></i>
          } @else {
            <i class="bi bi-moon-stars"></i>
          }
        </button>
        <app-user-account-button [user]="user"></app-user-account-button>
      </div>
    </div>
  </nav>

  <div class="offcanvas offcanvas-fixed offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <a class="link-secondary text-decoration-none" data-bs-dismiss="offcanvas" routerLink="/admin">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">
          {{ user!.establishmentName }}
          <span class="badge text-bg-success">Ativo</span>
        </h5>
      </a>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body d-flex align-items-start flex-column">
      <div class="w-100">
        @if(isFreeTierActive) {
          <div class="d-flex mb-5 justify-content-center">
            <a data-bs-dismiss="offcanvas" [routerLink]="['subscription']"
              class="w-75 mx-auto mt-3 btn btn-success">
              <i class="bi bi-wallet"></i>
              Ver Planos
            </a>
          </div>
        }

        <!-- ######### MENU ######### -->
        <div class="list-group list-group-flush">
          <a [routerLink]="['products']"
            data-bs-dismiss="offcanvas"
            routerLinkActive="active"
            [class]="menuItemClass">
            <!-- <i class="bi bi-upc"></i> -->
            <!-- <i class="bi bi-eye"></i> -->
            <i class="bi bi-diagram-3"></i>
            Produtos
          </a>
          <a [routerLink]="['categories']"
            data-bs-dismiss="offcanvas"
            routerLinkActive="active"
            [class]="menuItemClass">
            <i class="bi bi-table"></i>
            Categorias
          </a>
          <a [routerLink]="['establishment', 'address']"
            data-bs-dismiss="offcanvas"
            routerLinkActive="active"
            [ngClass]="menuItemClass">
            <i class="bi bi-shop"></i>
            Configurações do Estabelecimento
          </a>
          <a [routerLink]="['customize']"
            data-bs-dismiss="offcanvas"
            routerLinkActive="active"
            [ngClass]="menuItemClass">
            <i class="bi bi-brush"></i>
            Customização
          </a>
          <a [routerLink]="['qr-code']"
            data-bs-dismiss="offcanvas"
            routerLinkActive="active"
            [class]="menuItemClass">
            <i class="bi bi-qr-code"></i>
            QR Code
          </a>
        </div>
        <div class="d-flex justify-content-center">
          <a class="btn btn-lg btn-primary mt-5" (click)="goToMenu()">
            Abrir Cardápio
            <i class="bi bi-box-arrow-up-right"></i>
          </a>
        </div>
      </div>
      <!-- <div class="list-group list-group-flush w-100 mt-5"> -->
      <!--   <button (click)="logout()" -->
      <!--     data-bs-dismiss="offcanvas" -->
      <!--     [class]="menuItemClass"> -->
      <!--     Sair -->
      <!--     <i class="bi bi-box-arrow-right"></i> -->
      <!--   </button> -->
      <!-- </div> -->
    </div>
  </div>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
}
