
@if(data !== null) {
  <div class="modal d-inline-block show" >
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-lg-down">
      <div class="modal-content shadow-lg">
        @if(data.title !== null) {
          <div class="modal-header">
            <h5 class="modal-title">{{data.title}}</h5>
            <button type="button" class="btn-close" (click)="onCloseAction()" aria-label="Close"></button>
          </div>
        }
        <div class="modal-body">
          <div class="p-3 px-4 mt-2">
            <p class="fs-4" >
              {{ data.message }}
            </p>
            @if (data.subMessage) {
              <p class="fw-light" >
                {{ data.subMessage }}
              </p>
            }
          </div>
        </div>
        <div class="modal-footer">
          <button (click)="onCloseAction()" class="btn btn-secondary">
            Cancelar
          </button>
          <button (click)="onConfirmAction()" class="btn btn-primary">
            Confirmar
          </button>
        </div>
      </div>
    </div>
  </div>
}
