@if(isLoading) {
<app-spinner></app-spinner>
} @else {

  @if (showBuyButton()) {
    <div class="d-flex justify-content-center mt-5">
      <a class="btn btn-lg btn-primary align-item-center" [href]="stripeUrl.monthly_simple" target="_blank">
        Assinar Plano
        <i class="bi bi-box-arrow-up-right"></i>
      </a>
    </div>
  }

  @for (subscription of subscriptions; track subscription.id) {
    <div class="py-5 row">
      <div class="col-auto mx-auto">
        <div class="card " [ngClass]="subscription.status === 'ACTIVE' ? 'border-success' : 'border-danger'">
          <div class="card-header">
            {{ subscription.description }}
            <span class="badge " [ngClass]="subscription.status === 'ACTIVE' ? 'text-bg-success' : 'text-bg-danger'">
              {{ subscription.status === 'ACTIVE' ? 'Ativo' : 'Cancelado' }}
            </span>
          </div>
          <div class="card-body px-5">
            <p class="card-text">
              Data da assinatura: {{ subscription.createdAt | date: 'd/MM/yy, H:mm'}}
            </p>
            <p class="card-text">
              {{subscription.freeTier ? 'Fim do acesso gratuito:' : 'Proxima renovação:'}}
              {{ subscription.endDate| date: 'd/MM/yy, H:mm'}}
            </p>
          </div>
          @if (!subscription.freeTier) {
            <div class="card-footer text-body-secondary">
              <div class="hstack gap-3 justify-content-end">
                <div class="dropdown">
                  <button class="btn btn-sm " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-three-dots-vertical"></i>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <button (click)="onCancel(subscription.id)" class="dropdown-item btn btn-danger">
                        Cancelar
                        <i class="bi bi-trash"></i>
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  }
}
