@if(isLoading) {
  <app-spinner></app-spinner>
} @else {

  @if (activeSubscription === null) {
    <div class="d-flex justify-content-center mt-5 mb-5">
      <button class="btn btn-lg btn-primary align-item-center" (click)="onOpenPlanPayment()" target="_blank">
        Assinar Plano
        @if (isPlanButtonLoading) {
          <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
        } @else {
          <i class="bi bi-box-arrow-up-right"></i>
        }
      </button>
    </div>
  } @else {
    <div class="mt-5">
      <div [ngClass]="activeSubscription.status==='ACTIVE' ? 'border-success' : 'border-danger'"
        class="card mx-auto" style="max-width: 560px;">
        <div class="card-body">
          <h5 class="card-title">
            {{ activeSubscription.description }}
              @if(activeSubscription.status === 'PAYMENT_FAILED') {
                <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-danger">
                    Erro
                  <span class="visually-hidden">Erro</span>
                </span>
              } @else {
                <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-success">
                    Ativo
                  <span class="visually-hidden">Ativo</span>
                </span>
              }

          </h5>
          <p class="card-subtitle mb-2 text-body-secondary">
            Desde: {{ activeSubscription.createdAt | date: 'd/MM/yy'}}
          </p>
          <p class="card-subtitle mb-2 text-body-secondary">
            Fim: {{ activeSubscription.endDate | date: 'd/MM/yy'}}
          </p>
          <div class="mt-4 d-flex justify-content-end">
            <div class="dropdown">
              <button class="btn" data-bs-toggle="dropdown">
                <i class="bi bi-three-dots-vertical"></i>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <button class="dropdown-item py-2" (click)="onGetDetail(activeSubscription.id)">
                    Detalhes
                    <i class="bi bi-eye"></i>
                  </button>
                </li>
                <li>
                  <button class="dropdown-item py-2" (click)="onChangePaymentMethod(activeSubscription.id)">
                    Alterar forma de pagamento
                    <i class="bi bi-wallet2"></i>
                    <!-- <i class="bi bi-credit-card-2-front"></i> -->
                  </button>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <button class="dropdown-item py-2" (click)="onCancel(activeSubscription.id)">
                    Cancelar
                    <i class="bi bi-trash"></i>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  }

  <!-- ######### HISTORICO ######### -->
  <div class="mt-5">
    <p class="mb-2 fs-5">Histórico de assinaturas:</p>
    <ul class="list-group gap-1 border-0">
      @for (subscription of subscriptionsHistory; track subscription.id) {
        <li class="list-group-item d-flex rounded-3 border-top justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="">{{subscription.description}}</div>
            <small class="text-body-secondary">
              De {{ subscription.createdAt | date: 'd/MM/yy'}} ate {{subscription.endDate | date:'d/MM/yy'}}
            </small>
          </div>
        </li>
      }
    </ul>
  </div>
}
