<div class="container py-5">
  @switch(phase) {
    @case('EMAIL') {
      <form class="row py-5" [formGroup]="emailForm" (ngSubmit)="onSubmitCreateRecoveryCode()">
        <div class="mb-3 col-10 col-sm-6 col-md-8 col-lg-4 mx-auto">
          <p class="fs-5">Vamos gerar um código e envia-lo para o seu e-mail cadastrado.</p>
          <p class="fs-6">Após gerar o codigo você deve esperar no mínimo 5min para gerar outro.</p>
        </div>
        <div class="mb-3 col-10 col-sm-6 col-md-8 col-lg-4 mx-auto">
          <label for="emailInput" class="form-label">Email address</label>
          <input formControlName="email" type="email" [ngClass]="isInputEmailInvalid ? 'is-invalid' : ''" class="form-control"
            id="emailInput" placeholder="name@example.com">
        </div>
        <div class="d-flex justify-content-center">
          <button type="button" (click)="onSubmitCreateRecoveryCode()" class="btn btn-primary mt-3">
            Enviar
            @if(isLoading) {
            <div class="spinner-border spinner-border-sm" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            } @else {
            <i class="bi bi-send"></i>
            }
          </button>
        </div>
      </form>
    } @case('TOKEN') {
      <form class="row py-5" [formGroup]="tokenForm" (ngSubmit)="onSubmitValidateToken()">
        <p class="text-center fs-5 mb-5">Informe o token que você recebeu.</p>
        <div class="mb-3 col-10 col-sm-6 col-md-8 col-lg-4 mx-auto">
          <label for="tokenInput" class="form-label">Token:</label>
          <input formControlName="token" type="text" [ngClass]="isTokenInputInvalid ? 'is-invalid' : ''" class="form-control"
            id="tokenInput">
        </div>
        <div class="d-flex justify-content-center mb-3">
          <button type="button" (click)="onSubmitValidateToken()" class="btn btn-primary ">
            Validar
            @if(isLoading) {
              <div class="spinner-border spinner-border-sm" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            } @else {
              <i class="bi bi-shield-check"></i>
            }
          </button>
        </div>
        <div class="d-flex justify-content-center">
          <button type="button" (click)="tokenPhaseCancel()" class="btn btn-outline-danger">
            Cancelar
          </button>
        </div>
      </form>
    } @case('PASSWORD') {
      <form class="row py-5" [formGroup]="passwordForm" (ngSubmit)="onSubmitPasswordReset()">
        <p class="text-center fs-5 mb-5">Atualize sua senha.</p>
        <div class="mb-3 col-10 col-sm-6 col-md-8 col-lg-4 mx-auto">
          <label for="passwordInput" class="form-label">Nova senha:</label>
          <input formControlName="password" type="password" class="form-control"
            id="passwordInput">
        </div>
        <div class="mb-3 col-10 col-sm-6 col-md-8 col-lg-4 mx-auto">
          <label for="passwordConfirmInput" class="form-label">Confirmar nova senha:</label>
          <input formControlName="passwordConfirm" type="password" class="form-control"
            id="passwordConfirmInput" [ngClass]="isPasswordConfirmInputInvalid ? 'is-invalid' : ''">
        </div>

        <div class="d-flex justify-content-center mb-3">
          <button type="button" (click)="onSubmitPasswordReset()" class="btn btn-primary ">
            Atualizar senha
            @if(isLoading) {
              <div class="spinner-border spinner-border-sm" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            } @else {
              <i class="bi bi-key"></i>
            }
          </button>
        </div>
        <div class="d-flex justify-content-center">
          <button type="button" (click)="tokenPhaseCancel()" class="btn btn-outline-danger">
            Cancelar
          </button>
        </div>
      </form>
    }
  }
</div>
