@if(isLoading) {
  <app-spinner></app-spinner>
} @else {
  <form class="" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="mt-5 row justify-content-center">
      <div class="mb-2 col-md-6">
        <label for="category" class="form-label">Adicionar categoria:</label>
        <input type="text" class="form-control" [ngClass]="isNameInputValid ? '' : 'is-invalid'" id="category" formControlName="name" required>
        <div class="invalid-feedback">
          Digite o name da categoria!
        </div>
      </div>
    </div>
    <div class="d-flex row justify-content-center p-3">
      <button class="btn btn-primary col-md-3" type="submit">
        Adicionar
      </button>
    </div>
  </form>
  @if (shouldUpdateOrder) {
    <div class="alert alert-danger" role="alert">
      Cuidado! Não esqueça de salvar a ordem das categorias.
    </div>
  }

  @if(categories().length > 0) {
    <div class="table-responsive">
      <table cdkDropListGroup  class="table table-striped table-hover caption-top">
        <caption>Lista de categorias:</caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Ativo</th>
            <th scope="col">Criado em</th>
            <th scope="col">Alterado em</th>
            <th scope="col">#</th>
            <th scope="col">#</th>
          </tr>
        </thead>
        <tbody cdkDropList (cdkDropListDropped)="onDrop($event)">
          @for(cat of categories(); track cat.id) {
            <tr cdkDrag>
              <div class="bg-primary rounded px-2 py-1" *cdkDragPreview>
                {{ cat.name }}
              </div>
              <td>
                <div cdkDragHandle >
                  <button style="cursor: move;" class="btn btn-sm btn-outline-secondary" >
                    <i class="bi bi-arrows-move"></i>
                  </button>
                </div>
              </td>
              <td>{{ cat.name }}</td>
              <td>
                <i class="bi"
                  [ngClass]="cat.enabled ? ['text-success', 'bi-check-circle-fill'] : ['text-danger',  'bi-x-circle-fill']">
                </i>
              </td>
              <td>{{ cat.createdAt | date: 'd/M/yy, H:mm'}}</td>
              <td>{{ cat.updatedAt | date: 'd/M/yy, H:mm'}}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-sm btn-outline-danger"
                  (click)="onDelete(cat)">
                    Excluir
                </button>
              </td>
              <td>
                <button
                  type="button"
                  class="btn btn-sm"
                  (click)="onDisable(cat)"
                  [ngClass]="cat.enabled ? 'btn-outline-warning' : 'btn-outline-primary'">
                  @if (cat.enabled) {
                    Inativar
                  } @else {
                    Ativar
                  }
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
      @if (shouldUpdateOrder) {
        <div class="d-flex justify-content-end">
          <button class="btn btn-primary" (click)="onUpdateOrder()">
            Salvar ordem
          </button>
        </div>
      }
    </div>
  }
}
