@if(isLoading) {
  <app-spinner></app-spinner>
} @else {
  <div class="d-flex mt-5 justify-content-end">
    <button (click)="onCreateNewCategory()" class="btn btn-primary">
      Criar nova categoria
    </button>
  </div>
  @if (shouldUpdateOrder) {
    <div class="alert alert-danger mt-3" role="alert">
      Cuidado! Não esqueça de salvar a ordem das categorias.
    </div>
  }

  @if(categories().length > 0) {
    <div class="table-responsive">
      <table cdkDropListGroup  class="table table-striped table-hover caption-top">
        <caption>Lista de categorias:</caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Ativo</th>
            <th scope="col">Criado em</th>
            <th scope="col">Alterado em</th>
            <th scope="col">#</th>
            <!-- <th scope="col">#</th> -->
          </tr>
        </thead>
        <tbody cdkDropList (cdkDropListDropped)="onDrop($event)">
          @for(cat of categories(); track cat.id) {
            <tr data-href="#" cdkDrag>
              <div class="bg-primary rounded px-2 py-1" *cdkDragPreview>
                {{ cat.name }}
              </div>
              <td>
                <div cdkDragHandle >
                  <button style="cursor: move;" class="btn btn-" >
                    <i class="bi bi-arrows-move"></i>
                  </button>
                </div>
              </td>
              <td>
                {{ cat.name }}
              </td>
              <td>
                <i class="bi"
                  [ngClass]="cat.enabled ? ['text-success', 'bi-check-circle-fill'] : ['text-danger',  'bi-x-circle-fill']">
                </i>
              </td>
              <td>{{ cat.createdAt | date: 'd/MM/yy, H:mm'}}</td>
              <td>{{ cat.updatedAt | date: 'd/MM/yy, H:mm'}}</td>
              <td>
                <div class="btn-group dropstart">
                  <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-three-dots-vertical"></i>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <button [ngClass]="shouldUpdateOrder ? 'disabled' : ''"
                        (click)="onEdit(cat)" class="dropdown-item btn " >
                        Editar nome
                        <i class="bi bi-pencil"></i>
                      </button>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                      <button class="dropdown-item btn " (click)="onDisable(cat)">
                        @if (cat.enabled) {
                          Inativar
                          <i class="bi bi-exclamation-triangle"></i>
                        } @else {
                          Ativar
                          <i class="bi bi-check"></i>
                        }
                      </button>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                      <button class="dropdown-item btn" (click)="onDelete(cat)">
                        Excluir
                        <i class="bi bi-trash"></i>
                      </button>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
      @if (shouldUpdateOrder) {
        <div class="d-flex justify-content-end">
          <button class="btn btn-primary" (click)="onUpdateOrder()">
            Salvar ordem
          </button>
        </div>
      }
    </div>
  } @else {
    <div class="container p-5">
      <p class="text-center">Nenhuma categoria cadastrada!</p>
    </div>
  }
}
